#collection{
  position: relative;
  width: 100%;
  height: 100vh;

  .information{
    display: flex;
    flex-direction: column;

    >h1{
      position: absolute;
      top: 10%;
      left: calc(0rem + 3vw);
      color: white;
     font-size: calc(1rem + 3vw);
     user-select: none;
   }

    >p{
      position: absolute;
      top: 15%;
      left: calc(0rem + 0vw);
      color: white;
      font-size: calc(1rem + 0.3vw);
      padding: 4%;
      user-select: none;
    }

  }
  .collection{
    position: absolute;
    top: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    >img{
      box-shadow: 2px 5px 15px black;
      border: 2px solid black;
   }

  .container{
    position: relative;
    width: 32vw;//fallback for ie
    width: 32vmax;
    height: 50vh;
    margin-top: 10% !important;
    >img{
      position: absolute;
      top: 0;
      left: 0;
      width:100%;
      height: 100%;
    }

    &:hover{
      .text-block{
        height: 30%;
      }
    }
    .text-block{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 2%;
      background: rgba(0,0,0,0.4);
      height: 10%;
      font-size: calc(0.9rem + 0.3vw);
      color: white;
      font-weight: 600;
      cursor: default;
      overflow-y: hidden;

      .button{
       margin-top: 5%;
       font-weight: 200;
       color: white;
       border-radius: 5px;
       //box-shadow: 0px 0px 20px white;
       padding: 2% 4%;
       display: block;
       border: none;
       background: black;
      }
    }
  }
}

  .upper{
    margin-top: 8% !important;
  }
}
